/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none        &kp Q        &kp W       &kp E           &kp R        &kp T            &kp Y       &kp U            &kp I        &kp O                 &kp P  &none
&none  &mt LSHFT A  &mt LCTRL S  &mt LALT D  &mt LEFT_WIN F        &kp G            &kp H  &mt RWIN J  &mt RIGHT_ALT K  &mt RCTRL L  &mt RIGHT_SHIFT SEMI  &none
&none        &kp Z        &kp X       &kp C           &kp V        &kp B            &kp N       &kp M        &kp COMMA      &kp DOT              &kp FSLH  &none
                                    &kp TAB       &lt 2 ESC  &lt 1 SPACE  &lt 2 BACKSPACE   &lt 1 RET          &kp DEL
            >;
        };

        NUMERIC {
            bindings = <
&none    &kp NUMBER_1   &kp NUMBER_2            &kp N3                &kp N4                 &kp N5          &kp N6           &kp N7            &kp N8             &kp N9            &kp N0  &none
&none  &kp LEFT_SHIFT      &kp LCTRL      &kp LEFT_ALT          &kp LEFT_GUI              &kp TILDE       &kp UNDER         &kp PLUS         &kp MINUS          &kp EQUAL  &kp SINGLE_QUOTE  &none
&none        &kp PIPE  &kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp BACKSLASH  &none
                                              &kp CAPS                &trans                 &trans          &trans           &trans           &kp RET
            >;
        };

        NAVIGATION {
            bindings = <
&none      &kp F1     &kp F2      &kp F3       &kp F4      &kp F5   &kp F6    &kp F7         &kp F8     &kp F9    &kp F10  &none
&none   &kp LSHFT  &kp LCTRL    &kp LALT     &kp LWIN     &kp F11  &kp F12  &kp LEFT       &kp DOWN     &kp UP  &kp RIGHT  &none
&none  &kp K_UNDO  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kp K_REDO  &kp INS  &kp HOME  &kt PAGE_DOWN  &kp PG_UP    &kp END  &none
                                 &kp ESC       &trans      &trans   &trans    &trans        &kp RET
            >;
        };

        CONFIG {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &kp C_BRI_DN  &kp C_BRI_UP    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &none
&none    &kp K_EDIT    &kp K_MENU    &kp K_FIND     &kp K_APP     &kp CRSEL     &kp C_REC      &kp C_PP  &kp C_PREVIOUS    &kp C_NEXT  &kp C_STOP  &none
&none     &kp C_RED   &kp C_GREEN    &kp C_BLUE   &kp C_GREEN    &kp K_BACK    &kp K_UNDO    &kp K_REDO    &kp C_REWIND      &kp C_FF  &kp C_QUIT  &none
                                     &bt BT_CLR        &trans        &trans        &trans        &trans    &out OUT_TOG
            >;
        };

        GAMING {
            bindings = <
&none         &kp TAB  &kp Q    &kp W         &kp E      &kp R  &kp PG_UP  &kp HOME  &kp UP_ARROW    &kp END  &kp BACKSPACE  &none
&none  &kp LEFT_SHIFT  &kp A    &kp S         &kp D      &kp F  &kp PG_DN  &kp LEFT      &kp DOWN  &kp RIGHT      &kp RSHFT  &none
&none       &kp LCTRL  &kp Z    &kp X         &kp C      &kp V     &kp F1    &kp F2        &kp F3     &kp F4      &kp RCTRL  &none
                              &kp ESC  &kp LEFT_ALT  &kp SPACE  &kp ENTER     &none        &tog 4
            >;
        };
    };
};
